@import "str-to-list";

$lock_icon_name: ".d-icon-" + $alternative_lock_icon

$list: str-to-list("#{$categories_and_channels}", "|");
$nested-list: (
);

@if $categories_and_channels !="" {

  @each $item in $list {

    $item: str-to-list("#{$item}", ";");
    $nested-list: append($nested-list, $item);
  }

  @each $lock-icon, $iconID in $nested-list {

    @if $show_lock_icons_for_staff =="true" {
      body:not(.staff) {

        .menu-panel .search-link[data-category-id="#{$iconID}"],
        .menu-panel .categories-link[data-category-id="#{$iconID}"],
        .search-menu .results .restricted[data-category-id="#{$iconID}"],
        .badge-category__wrapper [data-category-id="#{$iconID}"],
        .category-drop [data-value="#{$iconID}"] .restricted,
        [href="/chat/c/#{$lock-icon}/#{$iconID}"],
        [href="/c/#{$lock-icon}/#{$iconID}"] {
          #{$lock_icon_name} {
            display: none;
          }
        }
      }
    }

    @else {

      .menu-panel .search-link[data-category-id="#{$iconID}"],
      .menu-panel .categories-link[data-category-id="#{$iconID}"],
      .search-menu .results .restricted[data-category-id="#{$iconID}"],
      .badge-category__wrapper [data-category-id="#{$iconID}"],
      .category-drop [data-value="#{$iconID}"] .restricted,
      [href="/chat/c/#{$lock-icon}/#{$iconID}"],
      [href="/c/#{$lock-icon}/#{$iconID}"] {
        #{$lock_icon_name} {
          display: none;
        }
      }
    }
  }
}

@else {
  @if $show_lock_icons_for_staff =="true" {

    body:not(.staff) {

      .menu-panel .search-link,
      .menu-panel .categories-link,
      .search-menu .results .restricted,
      .badge-category__wrapper,
      .category-drop .restricted,
      [href^="/chat/c/"],
      [href^="/c/"] {
        #{$lock_icon_name} {
          display: none;
        }
      }
    }
  }

  @else {

    .menu-panel .search-link,
    .menu-panel .categories-link,
    .search-menu .results .restricted,
    .badge-category__wrapper,
    .category-drop .restricted,
    [href^="/chat/c/"],
    [href^="/c/"] {
      #{$lock_icon_name} {
        display: none;
      }
    }
  }
}
